/* main section */
.main {
    padding-top: 2%; 
    padding-left: 10%;
    padding-bottom: 2%;
    padding-right: 10%;    
    overflow-x: hidden;
    font-size: 115%;
}

/* fade transition */
.transition-fade {
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
    transform-origin: left;
  }
  
  html.is-animating .transition-fade {
    opacity: 1;
    transform: translateX(100%);
  }
  
  html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateX(0);
  }
  

.header {
    background: white;
    text-align: center;
}

.navbar-toggler { margin: 0 auto; }

.nav-link{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 1000;
    padding: 2.1rem; 
    color: black; 
}


/* banner */

.main .banner .banner-title{
    padding-left:5%;
    font-weight: 500;
}

.main .banner .banner-title h3 {
    padding-top:5%;
}


.main .banner .banner-title h4 {
    padding-left:5%;
    font-size: 1.5rem;
}

.title-text {
    font-family: 'Raleway', serif;
    text-align: center;
}


/* card  */

.card-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    font-family:'Raleway', sans-serif;
}

.detail {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    font-size: 90%;
}

.component-description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    font-family: 'Raleway', serif;
}
.more-card {
    width: 30%; 
}

.more-card-2 {
    width: 50%; 
}

/* for the pages contains video responsive video */
.video-responsive {
    position: relative;
    display: block;
    width: 300px; 
    overflow: hidden;
  }
  
  
  .video-responsive::before {
    display: block;
    content: "";
    padding-top: 56.25%;
  }
  
  .video-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

/*hover */
img.filter {
    filter: grayscale(90%);
    -webkit-filter: grayscale(90%);
    transition: filter 1s ease-out 50ms; 
    animation-duration: 800ms;
    animation-iteration-count: 2;
    transform-origin: bottom;
}

img.filter:hover, img.filter.hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    animation-name: bounce;
    animation-timing-function: ease;
}

img.filter-sepa:hover, img.filter-sepa:hover{
    filter: sepia(80%);
    -webkit-filter: sepia(80%);
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-100px); }
    100% { transform: translateY(0); }
  }



  /* social media buttons */

 /* minimal sm icons */
.socialbtns .fa {
    color: #FFF;
    text-shadow: 1px 1px 0px #000,
            1px -1px 0px #000,
            -1px 1px 0px #000,
            -1px -1px 0px #000;
    -webkit-text-shadow: 1px 1px 0px #000,
            1px -1px 0px #000,
            -1px 1px 0px #000,
            -1px -1px 0px #000;
    -moz-text-shadow: 1px 1px 0px #000,
            1px -1px 0px #000,
            -1px 1px 0px #000,
            -1px -1px 0px #000;
    -o-text-shadow: 1px 1px 0px #000,
            1px -1px 0px #000,
            -1px 1px 0px #000,
            -1px -1px 0px #000;
    transition: all ease-out 0.5s;
    -moz-transition: all ease-out 0.5s;
    -webkit-transition: all ease-out 0.5s;
    -o-transition: all ease-out 0.5s;
}

.socialbtns .fa:hover {
    color: #000;
    text-shadow: 1px 1px 0px #fff,
            1px -1px 0px #fff,
            -1px 1px 0px #fff,
            -1px -1px 0px #fff;
    -webkit-text-shadow: 1px 1px 0px #fff,
            1px -1px 0px #fff,
            -1px 1px 0px #fff,
            -1px -1px 0px #fff;
    -moz-text-shadow: 1px 1px 0px #fff,
            1px -1px 0px #fff,
            -1px 1px 0px #fff,
            -1px -1px 0px #fff;
    -o-text-shadow: 1px 1px 0px #fff,
            1px -1px 0px #fff,
            -1px 1px 0px #fff,
            -1px -1px 0px #fff;
    transition: all ease 0.5s;
    -moz-transition: all ease-in 0.5s;
    -webkit-transition: all ease-in 0.5s;
    -o-transition: all ease-in 0.5s;
}


/* responsive video */

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media only screen and (max-width: 600px) {
      
     .main {
        padding: 1%;    
        overflow-x: hidden;
        font-size: 100%; 
    }
      
    h4, h5{
        font-size: 0.8rem;
    }
    .card-text-small {
        font-size:70%; 
    }

    body {
        font-size: 75%;
    }

    .more-card {
        width: 48%; 
    }

    .more-card-2 {
        width: 70%; 
    }

    .card-gap {
        padding-bottom: 15%; 
    }
  }

a {
  text-decoration: none !important;
}
